*{
    font-family:'Courier New', Courier, monospace
}

:root{
    --darkgrey: rgb(15, 15, 15);
    --aqua: rgb(119, 241, 201);
}

header{
    background-color: var(--darkgrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

#name{
    background-color: var(--aqua);
    font-size: 1.5rem;
    padding: .5%;
    padding-left: 5vw;
}

ul li{
    color: var(--aqua);
    display: inline;
    float: right;
    padding: 5px;
    margin-right: 2vw;
    text-underline-offset: 4px;
}

li a:visited,li a:hover{
    color: var(--aqua);
}

#mainimg{
    height: 200px;
    position: relative;
}

#mainimg>img{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
}

#Welcome{
    display: flex;
    position: relative;
    float: right;
    padding: 1%;
    background-color: var(--aqua);
    margin-right: 50px;
    margin-top: -60px;
}

main section{
    display: flex;
    margin-left: 10vw;
    margin-top: 2vh;
}

section h1{
    color: var(--darkgrey);
    font-size: 3.2rem;
    text-align: right;
    padding-right: 0.8vw;
    width: 17vw;
    display: block;
    border-right: 5px solid var(--darkgrey);
}

section div p{
    margin-left: 1.5vw;
    font-size: 18px;
    
}

.work h1{
    margin-left: 2.1vw;
    
}

.allcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.allcards img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
}

#mainproject{
    width: 95%;
}

.card{
    display: flex;
    margin: 0 1.5vw 1.2vh 0;
    border: 4px solid var(--aqua);
    width: 45%;
    position: relative;
}

.card div{
    position: absolute;
    bottom: 1.5vh;
    left: 0;
    background-color: var(--aqua);
}